<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GenerateServlet</servlet-name>
        <servlet-class>servlet.GenerateServlet</servlet-class>
        <init-param>
            <param-name>value</param-name>
            <param-value>Ad astra per aspera</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>NoPageServlet</servlet-name>
        <servlet-class>servlet.NoPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoSessionServlet</servlet-name>
        <servlet-class>servlet.NoSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUpSyntaxServlet</servlet-name>
        <servlet-class>servlet.SetUpSyntaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateServlet</servlet-name>
        <url-pattern>/GenerateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoPageServlet</servlet-name>
        <url-pattern>/NoPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoSessionServlet</servlet-name>
        <url-pattern>/NoSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUpSyntaxServlet</servlet-name>
        <url-pattern>/SetUpSyntaxServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
